:host {
    position         : absolute;
    z-index          : 9999;
    left             : 0;
    right            : 0;
    top              : 0;
    bottom           : 0;
}

.overflow {
    position         : absolute;
    z-index          : 9999;
    left             : 0;
    right            : 0;
    top              : 0;
    bottom           : 0;
    background-color : rgba(0, 0, 0, 0.6);
}

.modal {

}

header {

}

.modal-body {

}

footer {

}